/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url("/static/images/bg.png");
  background-size: 100%;
}

/* Header styles */
header {
  position: fixed; /* Position the navigation bar */
  top: 0; /* Position it at the top */
  width: 100%; /* Take up the full width of the viewport */
  height: 50px;
  backdrop-filter: blur(3px);
}

header nav {
  display: flex;
  justify-content: center;

  /* margin-bottom: 10px; */
  height: 50px;
  font-size: 23px;
}

header nav a {
  align-self: center;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.main {
  width: 100%;
  display: flex;
}

/* Icon styles */
.icon {
  float: right;
}

.icon i {
  font-size: 24px;
  margin-left: 10px;
}

/* Search bar styles */
.search-bar-container {
  position: relative;
  display: inline-block;
}

#search-bar {
  padding: 8px;
  width: 200px;
}

/* Main content container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Form styles */
form {
  color: #ffff;
}
/* Style for the trip input container */
#book {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#book form {
  display: flex;
  flex-direction: column;
}

#book label {
  margin-bottom: 5px;
}

#book input[type="text"],
#book input[type="date"],
#book input[type="number"] {
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: none;
}

#book input[type="submit"] {
  padding: 8px 16px;
  background-color: #0000ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the trip list container */
#trips {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  height: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#trips h2 {
  margin-bottom: 10px;
  color: #ffff;
}

#trips table {
  width: 100%;
  border-collapse: collapse;
}

#trips th,
#trips td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#trips td {
  color: #ffff;
}
#trips th {
  background-color: #f2f2f2;
}

#remove {
  padding: 8px 16px;
  background-color: #ff005dfa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#remove:hover {
  background-color: #ef0058;
}

@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  #trips {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  #trips {
    width: 80%;
    overflow-x: scroll;
  }

  #trips th,
  td {
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    flex-direction: row;
    font-size: 12px;
  }
}
